.example_images{
  position: absolute;
  top: 8px;
  right: 16px;
  width: 60%;
}

body{
  margin:0;
  padding:0;
  line-height: 1.5em;
}

main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid black;
  width: 100%;
}
td {
  border: 1px solid black;
  padding: 3px;
  vertical-align: top;
}
table.special td:nth-child(3) {
  width: 100%;
  text-align: left;
}
th {
    background-color: #AAA;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
}

#nav {
  float: left;
  width: 120px;
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  background: #eee;
  position: fixed;
}

#wrapper {
  overflow: hidden;
}

#content {
  margin-left: 120px; /* Same as 'nav' width */
}

.innertube{
  margin: 15px; /* Padding for content */
  margin-top: 0;
}
p {
  color: #555;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul a {
  color: darkgreen;
  text-decoration: none;
}
.bl {
  color: #00C;
  font-weight: bold;
}
.red {
  color: #F00;
}
.grey {
  color: #999;
}
.gr {
  color: #0F0;
}
.or {
  color: #FFA500;
}
.pu {
  color: #551A8B;
}
.preprocess {
  display: inline-block;
  color: #B05800;
  float: right;
  font-size: 0.7em;
  font-style: italic;
}